{% extends "base.html" %}

{% block extrahead %}
<style type="text/css">
    .runaway {
        margin-bottom: 20px;
    }
    .runaway h4 {
        margin-bottom: 0;
    }
    .url {
        padding-left: 5px;
        margin-bottom: 5px;
    }
</style>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.core.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.context.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.annotate.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.tooltips.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.zoom.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.common.resizing.js" ></script>
<script src="{{ MEDIA_URL }}js/rgraph/libraries/RGraph.line.js" ></script>
<!--[if IE]><script src="{{ MEDIA_URL }}js/rgraph/excanvas/excanvas.compressed.js"></script><![endif]-->

<script>
    window.onload = function ()
    {
    var line1 = new RGraph.Line('line1',
        [{% for _, count in timeline %}{{ count }}{% if not loop.last %},{% endif %}{% endfor %}]
    );
    line1.Set('chart.title', 'Runaways progress');
    line1.Set('chart.colors', ['red']);
    line1.Set('chart.tickmarks', 'dot');
    line1.Set('chart.linewidth', 1);
    line1.Set('chart.background.barcolor1', 'white');
    line1.Set('chart.filled', 'true');
    line1.Set('chart.fillstyle', ['#fcc']);

    line1.Set('chart.labels',
        [{% for date, _ in timeline %}"{{ date.strftime("%d %b") }}"{% if not loop.last %},{% endif %}{% endfor %}]
    );

    line1.Set('chart.gutter', 35);
    line1.Set('chart.noaxes', true);
    line1.Set('chart.background.grid', false);
    line1.Set('chart.yaxispos', 'right');
    line1.Set('chart.ymax', {{ runaways_count }});
    line1.Draw();
}
</script>

{% endblock %}

{% block content %}
<div>
    <canvas id="line1" width="630" height="250">[Please wait...]</canvas>
</div>
<div>
    {% if notify %}
        <h4>Your new runaaway is waiting for moderation.</h4>
        <br>
    {% endif %}
    <h3><a href="/add/">Add new runaway!</a></h3>
</div>
<br>
<h3>Latest:</h3>
<div>
    <ul>
        {% for runaway in runaways_page.object_list %}
        <li class="runaway">
            <h4><a href="/{{ runaway.key().id() }}/">{{ runaway.title }}</a></h4>
            <div class="url"><a href="{{ runaway.url }}" rel="nofollow">{{ runaway.url }}</div>
            <div><a href="{{ runaway.proof_link }}">Proof link</a> quote:</div>
            <div><i>{{ runaway.quote }}</i></div>
        </li>
        {% endfor %}
    </ul>
</div>
{% if runaways_page.has_other_pages() %}
    <br>
    <div>
        {% if runaways_page.has_next() %}
            <a href="?page={{ runaways_page.next_page_number() }}">Older</a>
        {% endif %}
        {% if runaways_page.has_previous() %}
            <a href="?page={{ runaways_page.previous_page_number() }}">Newer</a>
        {% endif %}
    </div>
{% endif %}
{% endblock %}
